<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog by Yuki</a></h1>
        </div>

        <div>
            <p>published: 11.26.2018, 21:20</p>
            <h2><a href="">My first post</a></h2>
            <p>初めての投稿です。よろしくお願いします。 </p>
        </div>

        <div>
            <p>公開日: 2018/11/26, 21:21</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p> こんばんは。 </p>
        </div>
    </body>
</html>